/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

.input-style {
  @apply px-3 py-2 border border-slate-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500;
}